<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
      <title>The Black Code</title>
    </head>
    <header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark" id="main-nav">
          <a class="navbar-brand mb-0 h1" href="/">The Black Code</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link sub-link" href="/about">About Me</a>
              </li>
              <li class="nav-item">
                <a class="nav-link sub-link" href="#">Gallery</a>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link sub-link" href="/login">Log In<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  More
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="https://github.com/jsurena">GitHub</a>
                  <a class="dropdown-item" href="https://www.linkedin.com/in/jsurena/">LinkedIn</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/register">Register</a>
                </div>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search posts..." aria-label="Search">
              <button class="btn btn-outline-danger my-2 my-sm-0 mb-0" id="search-button" type="submit">Search</button>
            </form>
          </div>
        </nav>
    </header>
    <body>
        
    