<% include partials/header.ejs %>

<div class="container">
    <h1 class="display-4">About Me</h1>
    
    <div class="jumbotron previews">
        <h4 class="about-me-question">Who am I?</h4>
        <div class="container">
            Bacon corned beef cow, fatback strip steak landjaeger chuck. Bresaola cow tail chicken, tri-tip prosciutto sausage filet mignon. Porchetta shank strip steak jerky, ham hock pork drumstick chuck pig flank pancetta. Swine pancetta beef ribs frankfurter ribeye tongue jowl rump drumstick spare ribs chuck kielbasa landjaeger short ribs pork belly. Pork loin ribeye doner sausage capicola kevin turkey porchetta frankfurter chuck. Pig burgdoggen leberkas boudin pork hamburger.
        </div>
        <h4 class="about-me-question">What is this?</h4>
        <div class="container">
            Bacon corned beef cow, fatback strip steak landjaeger chuck. Bresaola cow tail chicken, tri-tip prosciutto sausage filet mignon. Porchetta shank strip steak jerky, ham hock pork drumstick chuck pig flank pancetta. Swine pancetta beef ribs frankfurter ribeye tongue jowl rump drumstick spare ribs chuck kielbasa landjaeger short ribs pork belly. Pork loin ribeye doner sausage capicola kevin turkey porchetta frankfurter chuck. Pig burgdoggen leberkas boudin pork hamburger.
        </div>
        <h4 class="about-me-question">What is my mission?</h4>
        <div class="container">
            Bacon corned beef cow, fatback strip steak landjaeger chuck. Bresaola cow tail chicken, tri-tip prosciutto sausage filet mignon. Porchetta shank strip steak jerky, ham hock pork drumstick chuck pig flank pancetta. Swine pancetta beef ribs frankfurter ribeye tongue jowl rump drumstick spare ribs chuck kielbasa landjaeger short ribs pork belly. Pork loin ribeye doner sausage capicola kevin turkey porchetta frankfurter chuck. Pig burgdoggen leberkas boudin pork hamburger.
        </div>
        <h4 class="about-me-question">Contact/Social Media:</h4>
        <div class="container">
            <p>E-Mail: jsurena18@gmail.com</p>
            <p>GitHub: <a class="" href="https://github.com/jsurena">GitHub</a></p>
            <p>LinkedIn: <a class="" href="https://www.linkedin.com/in/jsurena/">LinkedIn</a></p>
        </div>
        
    </div>

</div>

<% include partials/footer.ejs %>