<% include partials/header.ejs %>

<div class="container">
    <h1 class="display-4"><i class="fas fa-terminal title-icon"></i>About Me</h1>
    
    <div class="jumbotron about">
        <h4 class="about-me-question">Who am I?</h4>
        <div class="container">
            <p>My name is Jean-Sebastien Surena, but you can call me Jean. I am a Computer Information Systems major at Baruch College in New York City. 
            Although I’m a CIS major on paper, I’m a Comp Sci student at heart. I’m entering my senior year and currently on the Cybersecurity track, my minor is Theater. 
            You may be asking yourself, “what in the world is a wannabe CS major doing minoring in Theater?” Unfortunately, the answer isn’t as exciting as it may originally seem.
            No, I’m not planning on revolutionizing the world of theater with government-level technology (not yet at least), nor am I attempting to be the pioneer in
            creating the first acting robot the world has seen, akin to Calculon from Futurama. I just happen to really enjoy programming and acting so I decided to craft 
            my college curriculum around that; isn’t the point of college to delve into what you enjoy?</p>
            <p>All in all, I'm a senior in college who is trying to make his way into the software and technology industry. 
            How that will happen is not in the books yet but I know that wherever this life takes me, I will be enjoying myself every step of the way.
            To read more about me, you can start my first three posts with <a href="#">Who Am I?</a>.</p>
        </div>
        <h4 class="about-me-question">What is this?</h4>
        <div class="container">
            <p>I’ll give you a TL;DR before you even start, this is a blog that I will be coding myself.</p>
            <p>To be more specific, this is a blog upon which I will be chronicling my journey as a black man in the Computer Science industry, hence the name “The Black Code.”
            I can almost hear the collective gasps and “oh my goodness, it all makes sense!” 
            I will be discussing my journey through my applications for internships, full-time opportunities, different projects I take on, new things I am learning, events I am attending, my hobbies, industry news and more! 
            Obviously, I will not be discussing all of this at once but in a few months, when I look back at the collective body of my work, those are the things I hope to have touched on at least once. 
            The idea to do this came after I attended a “Code & Mix” hosted by WeBuildBlack, an organization with a focus on bringing together black Software Engineers in a world where we may not see a lot of each other in the workplace. 
            It gave me the confidence that I needed to believe that my story is important as well and worthy of being shared with those who are interested.</p>
            <p>Additionally, I will be programming the blog myself so that while I write about my adventures in Comp Sci, I will also be practicing as many of my web development skills as I can. 
            Ideally, I would like to have a part of the blog that serves as a testing grounds for new things that I learn so that you all can see what I’m working on and try it out yourselves.</p>

        </div>
        <h4 class="about-me-question">What is my mission?</h4>
        <div class="container">
            <p>As far as this blog is concerned, my goal is to share my story and my adventures through interesting and insightful writing pieces. 
            I want this blog to educate, inspire, motivate and entertain its readers. 
            I also want to see if there are others out there who have had similar experiences to me, and I want to see if my thoughts or my stories can help people who are unsure of what to do next in their own journeys. 
            I’m a peer mentor at school and I love being able to assist my peers/colleagues so if this could serve that purpose, that would be fantastic.</p>
            <p>Going beyond the blog, my mission is a bit different but ultimately hints at the same idea; helping others. 
            I want to be able to use my skills, knowledge and talents to build a platform upon which I can stand to, quoting myself, “speak out, educate, inspire, motivate and entertain.” 
            I want to be able to help those who are less fortunate than I, who have had less opportunities. 
            I want to assist the movement to bring Software Engineering to disadvantaged communities as another option or a means to pull oneself up. I aspire to be an educator, a leader and a pioneer.</p>

        </div>
        <h4 class="about-me-question">Contact Info/Social Media:</h4>
        <div class="container">
            <p>jsurena18@gmail.com</p>
            <p><a class="" href="https://github.com/jsurena">GitHub</a></p>
            <p><a class="" href="https://www.linkedin.com/in/jsurena/">LinkedIn</a></p>
        </div>
        
    </div>

</div>

<% include partials/footer.ejs %>