<% include partials/header.ejs %>

<div class="container">
    <h1 class="display-4">Gallery</h1>
    
    <div class="jumbotron gallery">
        
    </div>

</div>

<% include partials/footer.ejs %>