<% include partials/header.ejs %>

<div class="container">
    <h1 class="display-4">The Black Code</h1>
    
    <div class="jumbotron previews">
        <div class="previews">
            <div class="media">
                <img class="align-self-center mr-3 preview-image" src="https://source.unsplash.com/9NmEdEZAZus">
                <div class="media-body">
                    <h3 class="preview-title mt-0">Media heading</h3>
                    <div class="preview-author"><em>By: Jean-Sebastien Surena</em></div>
                    <div class="preview-date">August 25, 2018</div>
                    <p class="preview-content">
                        Bacon ipsum dolor amet doner buffalo chicken rump pork loin frankfurter sirloin picanha pancetta biltong flank short ribs beef. Porchetta meatloaf andouille, ribeye jowl tri-tip drumstick tenderloin burgdoggen turducken sausage chuck kevin ground round. Burgdoggen shankle doner pork chop t-bone salami drumstick tenderloin porchetta fatback picanha boudin. Shoulder meatball flank, filet mignon alcatra bacon andouille pork tri-tip sausage buffalo drumstick.
                    </p>
                    <a class="btn btn-sm btn-outline-danger" id="read-more" href="#">Read more...</a>
                </div>
            </div>
            
            <hr>
            
            <div class="media">
                <img class="align-self-center mr-3 preview-image" src="https://source.unsplash.com/9NmEdEZAZus">
                <div class="media-body">
                    <h3 class="preview-title mt-0">Media heading</h3>
                    <div class="preview-author"><em>By: Jean-Sebastien Surena</em></div>
                    <div class="preview-date">August 25, 2018</div>
                    <p class="preview-content">
                        
                        Bacon ipsum dolor amet doner buffalo chicken rump pork loin frankfurter sirloin picanha pancetta biltong flank short ribs beef. Porchetta meatloaf andouille, ribeye jowl tri-tip drumstick tenderloin burgdoggen turducken sausage chuck kevin ground round. Burgdoggen shankle doner pork chop t-bone salami drumstick tenderloin porchetta fatback picanha boudin. Shoulder meatball flank, filet mignon alcatra bacon andouille pork tri-tip sausage buffalo drumstick. 
                    </p>
                    <a class="btn btn-sm btn-outline-danger" id="read-more" href="#">Read more...</a>
                </div>
            </div>
            
            <hr>
            
            <div class="media">
                <img class="align-self-center mr-3 preview-image" src="https://source.unsplash.com/9NmEdEZAZus">
                <div class="media-body">
                    <h3 class="preview-title mt-0">Media heading</h3>
                    <div class="preview-author"><em>By: Jean-Sebastien Surena</em></div>
                    <div class="preview-date">August 25, 2018</div>
                    <p class="preview-content">
                        Bacon ipsum dolor amet doner buffalo chicken rump pork loin frankfurter sirloin picanha pancetta biltong flank short ribs beef. Porchetta meatloaf andouille, ribeye jowl tri-tip drumstick tenderloin burgdoggen turducken sausage chuck kevin ground round. Burgdoggen shankle doner pork chop t-bone salami drumstick tenderloin porchetta fatback picanha boudin. Shoulder meatball flank, filet mignon alcatra bacon andouille pork tri-tip sausage buffalo drumstick. 
                    </p>
                    <a class="btn btn-sm btn-outline-danger" id="read-more" href="#">Read more...</a>
                </div>
            </div>
            
            <hr>
            
        </div>
    </div>

</div>

<% include partials/footer.ejs %>