<% include partials/header.ejs %>

<div class="container">
    <h1 class="display-4">The Black Code</h1>
    
    <div class="jumbotron previews">
        <div class="previews">
            <h3 class="preview-title">Blog Post Previews</h3>
            <p class="lead">Blog post previews will be featured here</p>
        </div>
    </div>

</div>

<% include partials/footer.ejs %>