<% include ../partials/header.ejs %>

<div class="container">
    <h1 class="display-4"><%= Search Results %></h1>
    <div class="jumbotron search">

    </div>

</div>

<% include ../partials/footer.ejs %>