<% include partials/header.ejs %>

<div class="container">
    <h1 class="display-4">Search Results</h1>
    <div class="jumbotron search">
        <p<h4 class="search-head">You searched for: <span class="search-term"><%= search %></span></h4>
        <h5 class="search-criteria">Blog Posts by Title:</h5>
        <h5 class="search-criteria">Blog Posts by Content:</h5>

    </div>

</div>

<% include partials/footer.ejs %>