body {
    padding-top: 10vh;
}

#main-nav {
    background-color: #000000;
}

#search-button {
    color: #E50529;
    border-color: #D90562;
}

#search-button:hover {
    color: #000000;
    background: #E50529;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fcfbfc;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #FFFFFF;
}

.jumbotron.previews {
    background-color: #ffffff;
    border: 0.05rem solid #E50529;
    border-radius: 1.8rem;
    padding: 1rem 1rem;
}
