body {
    padding-top: 10vh;
    font-size: 1rem;
    /*font-family: 'Kelly Slab', cursive;*/
    font-family: 'Playfair Display', serif;
    font-size: 18px;
}

p {
    font-size: 0.96rem;
}

#logged-in-user {
    opacity: 0.6;
}

#main-nav {
    background-color: #000000;
}

#read-more {
    color: #E50529;
    border-color: #D90562;
    margin-left: 1.5rem;
}

#read-more:hover {
    color: #000000;
    background: #E50529;
}

#search-button {
    color: #FFFFFF;
    border-color: #FFFFFF;
}

#search-button:hover {
    color: #000000;
    background: #FFFFFF;
}

.about-me-question {
    color: #E50529;
    font-weight: 700;
    text-align: center;
}

.display-4 {
    font-family: 'Iceland', cursive;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fcfbfc;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #FFFFFF;
}

.jumbotron.previews {
    background-color: #ffffff;
    border: 0.05rem solid #E50529;
    border-radius: 1.8rem;
    padding: 1rem 1rem;
}

.jumbotron.about {
    background-color: #ffffff;
    border: 0.05rem solid #E50529;
    border-radius: 1.8rem;
    padding-top: 2rem;
}

.jumbotron.gallery {
    background-color: #ffffff;
    border: 0.05rem solid #E50529;
    border-radius: 1.8rem;
    padding-top: 2rem;
}

.jumbotron.new-post {
    background-color: #ffffff;
    border: 0.05rem solid #E50529;
    border-radius: 1.8rem;
    padding-top: 2rem;
}

.jumbotron.post {
    background-color: #ffffff;
    border: 0.05rem solid #E50529;
    border-radius: 1.8rem;
    padding-top: 2rem;
}

.navbar-brand {
    font-family: 'Iceland', cursive;
    font-size: 1.35rem;
}

.nav-item:hover {
    background-color: #444444;
}

.nav-social {
    
}

.preview-title {
    font-size: 1.7rem;
    font-weight: 400;
}

.preview-author {
    font-size: 1.022rem;
    padding-left: 2rem;
    font-style: italic;
}

.preview-date {
    font-size: .92rem;
    padding-left: 2rem;
}

.preview-content {
    padding-top: 2vh;
    padding-left: 1.5rem;
}

.preview-image {
    max-width: 25vh;
    max-height: 25vh;
}

.post-image {
    display: block;
    max-width: 50vh;
    max-height: 50vh;
    min-width: 50vh;
    min-height: 50vh;
    margin: 1vh auto 3vh auto;
}

.post-author {
    font-size: 1.2rem;
    font-style: italic;
}

.post-date {
    font-size: .95rem;
}

.lead {
    font-size: 1.15rem;
}

.lead-rule {
    border-left: 2px solid #E50529;
    padding-left: 2vh;
}

.red-button {
    color: #E50529;
    border-color: #D90562;
}

.red-button:hover {
    color: #000000;
    background: #E50529;
}

.social-icon {
    padding-right: 1vh;
}

.title-icon {
    font-size: 2.5rem;
}