<!--<img class="align-self-center post-image" src="https://baconipsum.com/wp-content/uploads/2015/01/bacon-ipsum-square-200-200.jpg">-->

<div class="lead-rule"><p class="lead"><span class = "first-letter">B</span>acon ipsum dolor amet pork loin turkey rump, chicken tail sirloin biltong tongue beef. Tongue hamburger jerky rump, sausage kielbasa t-bone corned beef cow andouille 
bacon beef ribs shoulder shank. Pork chop hamburger shankle beef ribs swine sausage boudin burgdoggen shank kevin pancetta sirloin drumstick salami.</p></div>

<p>Shoulder kielbasa alcatra, meatball pastrami landjaeger tail burgdoggen ground round tenderloin andouille hamburger biltong. Ground round burgdoggen pork chop biltong. Ham strip steak tri-tip prosciutto
shoulder beef ribs.</p>

<p>Filet mignon short ribs tri-tip frankfurter, sirloin tail chicken brisket. Short loin tri-tip tail fatback. Flank prosciutto chuck doner. Tongue frankfurter shoulder, 
filet mignon tail drumstick kevin prosciutto short loin cupim. Shoulder tongue meatball boudin turkey. Turducken salami kevin turkey, meatball leberkas chuck drumstick swine 
pork porchetta tongue.</p>

<p>Andouille fatback kielbasa, buffalo sausage shank turkey ground round. Tail alcatra ground round shank ham hock, spare ribs porchetta drumstick picanha.
Porchetta corned beef capicola kevin, kielbasa t-bone pork. Ham hock short ribs drumstick, kielbasa biltong salami ground round tail meatloaf picanha boudin leberkas bresaola.</p>

<p>Ham hock strip steak filet mignon fatback pastrami cupim, pancetta ground round prosciutto swine. Buffalo pork chop filet mignon spare ribs landjaeger shankle pork loin 
ham hock biltong short loin drumstick andouille sirloin prosciutto. Shank brisket pork chop ground round hamburger, ribeye meatloaf jerky. Bacon porchetta tenderloin shoulder shank.
Flank capicola biltong filet mignon buffalo jowl short loin jerky.</p>

<p>Strip steak beef tongue, cow boudin landjaeger bacon buffalo frankfurter corned beef venison pork loin cupim bresaola. T-bone leberkas buffalo frankfurter hamburger pancetta 
capicola turducken, filet mignon fatback boudin ham. Turkey beef ribs spare ribs, cupim jowl prosciutto doner kielbasa andouille tri-tip short loin chuck pastrami.</p> 

<p>Meatball tri-tippicanha, capicola short loin brisket rump biltong meatloaf frankfurter beef pig. Ham hock boudin andouille, leberkas tail shoulder porchetta sausage tenderloin 
meatloaf pork capicola alcatra.</p>

<!--<p class ="post-author">By: Jean-Sebastien Surena</p>-->
<!--<p class ="post-date">August 25, 2018</p>-->