<% include ../partials/header %>
    <div class="container">
        <h1 class="display-4">The Black Code</h1>
    
        <div class="jumbotron new-post">
            <p>Are you sure you want to delete: "<%= post.title %>"?</p>
            <form class="form-inline" action="/posts/<%= post._id %>/?_method=DELETE" method="POST">
                <button class="btn btn-lg btn-outline-success">YES</button>
            </form>
            <form class="form-inline" action="/posts/<%= post._id %>" method="GET">
                <button class="btn btn-lg btn-outline-danger">NO</button>
            </form>
        </div>
    </div>
<% include ../partials/footer %>