<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">

<% include ../partials/header %>
    <div class="container">
        <h1 class="display-4">The Black Code</h1>
    
        <div class="jumbotron new-post">
            <form class="ui form" action="/posts" method="POST">
                <div class="field">
                    <label>Title</label>
                    <input type="text" name="title" placeholder="Title" required>
                </div>
                <div class="field">
                    <label>Image (Optional)</label>
                    <input type="text" name="image" placeholder="Image URL">
                </div>
                <div class="field">
                    <label>Abstract</label>
                    <input type="text" name="abstract" placeholder="Abstract">
                </div>
                <div class="field">
                    <label>Blog Content</label>
                    <textarea name="body" required></textarea>
                </div>
                <input class="btn btn-lg btn-outline-danger red-button" type="submit">
            </form>
        </div>
    </div>
<% include ../partials/footer %>