<img class="align-self-center post-image" src="https://source.unsplash.com/bEcC0nyIp2g">

<div class="lead-rule"><p class="lead">Do you remember your very first dream job? A lot of people I’ve asked have said various things: actor, lawyer, dancer, singer, superhero, storm chaser, etc. 
I think I’m the only person I know who has ever said “architect” to that question. During my time in Haiti, I lived with my grandmother in the house that I was once told my
deceased grandfather had built (I came to find out that the house was my grandmother’s vision, not his) and I was so impressed by this that I too wanted to build my grandmother
a house even more impressive than that one. Thus, at the tender age of 5 or 6 years old, my dream of becoming an architect was born.</p></div>

<p>In the fourth grade, I discovered Pokemon Crater, an online MMORPG for Pokemon players and I was in love from the start. My friends and I played it endlessly
whenever we got a chance. Alas, that was very short-lived. By the end of the year, the creator of the website had moved on to college and decided he would no longer
work on it, I was devastated. I spent the next year or so foraging the internet for something that would fill the crater left in my heart (I don’t think puns get more
intentional than that). The closest I ever got was a site called “The Pokemon Moon RPG” by a young man whose screenname was Cless. At about that same time, I decided 
that if I could not find a replacement, I might as well just create it myself. It was then that I set out on my web development journey.</p>

<p>I spent much of my middle school career learning HTML, CSS, and PHP from w3schools, as chronicled by my various Facebook embarrassing reminders (Facebook memories). 
I practiced with pet projects that were almost always different types of RPG’s since those commanded my attention. The sixth grade was when I received my first Xbox and
that sparked my immense love for video games. I collaborated a bit with other programmers, mainly Cless, and creatives on the internet by searching through various 
forums and websites; I was a resourceful kid.</p>

<p>You may now be wondering “how come a kid who showed such drive and initiative at 11 isn’t the CEO of a fortune 500 company by now?” Shocking, I know.
That can be attributed to my increasing love for gaming, as well as the rigorous course load at my high school. What happens when you combine a kid who loves games, 
friends who share that same interest and barely any free time? You get a teenager in high school who spends all of his weekends playing Xbox with friends. 
All of the knowledge I had worked tirelessly to gain started to slowly slip and fade into a corner of my mind that I wouldn’t reach into again until college. 
I worked with Robot-C as an electro-mechanical major but the majority of my work was with circuit boarding and physically putting things together.</p>

<p>Now we are at the stage of my life where it came to applying for colleges. I had spent the past year or so of my life practicing to be an engineer, but
my heart yearned for the furious “click-clack” of my keyboard as I typed in my code. I enjoyed the creative aspects of my major, but I knew that I didn’t have 
the deep passion for physics and numbers that were necessary to thrive. I made my mind up, and applied to strictly Computer Science and Computer Information Systems programs.</p>

<p>The end of high school is when I discovered my love for acting, somewhat a polar opposite of what I wanted to major in. I had an appreciation for the arts since
middle school where I began to write poetry, but I had never thought about performing. Nonetheless, I wanted to get a degree that would be useful no matter my trajectory 
in life, and an acting degree was not something I envisioned would fulfill that crucial requirement. Thus, I decided to attend Baruch College for Computer Information Systems 
with a minor in Theater. It provided me with the opportunity to do both things I love while being on track to receive a, hopefully, useful degree.</p>

<p>We are almost caught up to the present, there are just a few crucial details left to cover but I would like to go into those without making this post too long, 
so we will end here for the time being. I hope that you are enjoying the read as much as I am enjoying writing it, if not more. If you did not read the previous post,
I implore you to do so as it gives a bit more overarching context to what is being discussed here. Thank you for reading and see you next time.</p>


<p class ="post-author">By: Jean-Sebastien Surena</p>
<p class ="post-date">August 25, 2018</p>