<p class="lead">My name is Jean-Sebastien Surena, but you can call me Jean. I am a Computer Information Systems major at Baruch College in New York City. 
Although I’m a CIS major on paper, I’m a Comp Sci student at heart. I’m entering my senior year and currently on the Cybersecurity track, my minor is Theater.
You may be asking yourself, “what in the world is a wannabe CS major doing minoring in Theater?” Unfortunately, the answer isn’t as exciting as it may originally seem. 
No, I’m not planning on revolutionizing the world of theater with government-level technology (not yet at least), nor am I attempting to be the first to create the first acting robot the world has seen, akin to Calculon from Futurama. 
I just happen to really enjoy programming and acting so I decided to craft my college curriculum around that; isn’t the point of college to delve into what you enjoy?</p>

<p>Now that you know a little bit about who I am, let’s dive a little further back into how I got to be. 
I was born in Queens but didn’t really get to breathe in the musty, toxic New York air before I was sent (by my parents) to live with my grandparents in Haiti. 
I grew up speaking French and Creole, the main two languages of the country. I didn’t learn much English until the year before I came back to the states. 
My parents knew they wanted to bring me back, so they had me enrolled in a few introductory classes to learn the language. 
I returned to the home land in the summer before the third grade.</p>

<p>I went to middle school at The Scholars’ Academy in Rockaway Park. There, I was a solid student who was fairly adept at everything except doing homework. 
This was something that would go on to bite me in the ass in high school; the issue would not be remedied until my senior year. 
I attended Brooklyn Technical High School in, you guessed it, Brooklyn. There, I majored in Electro-Mechanical Engineering. 
My original plan was to go for Software Engineering but I was infatuated with the thought of getting to work with, and build robots so I naturally went to the major that would give me that opportunity. 
I don’t regret the decision I made since I still got to work with some programming languages as a part of my curriculum but were I to go back, I 110% would have gone into Software instead.</p> 

<p>And we are now back to the present. In my next post, I’m going to go into more detail about some events and decisions I made that led to me being a CIS major in college.
This was just a brief overview of who I am now, and the different educational stages in my life. 
The purpose of this blog is to chronicle my journey as a Black male in the world of Computer Science. 
I will be discussing my pursuit of internship opportunities, full-time job offers, hackathons, certifications, personal projects, etc.
I’ll most likely talk about other things in the industry I see, related or unrelated to me, as well as non-comp sci things that I feel are prevalent to me and worthy of being shared. 
I hope you are ready to join me in my journey to conquering the technological world and beyond.</p>
